@model MyCompany.Models.Employe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.Branch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Branch_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.Manager_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Manager_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Job)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provience)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
