@model IEnumerable<MyCompany.Models.Employe>

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Branch_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.Manager_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provience)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Branch_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.Manager_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provience)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employee_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employee_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employee_Id })
        </td>
    </tr>
}

</table>
